/* The code below centers the text of all h1's on the page. */

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
	font-family: 'Manrope', sans-serif;
	letter-spacing: .1rem;
	background: #021e74;
	color: white;
}


h1 {
	text-align: center;
}

/* The code below centers all images on the page and gives them a width of 400px. */
img {
	display: block;
	margin-top: 85px;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	border: 5px solid #000000;
}

/* The code below centers the text of all h2's on the page. */
h2 {
	text-align: center;
	padding: 50px;
}

.main-body {
	background: #141414;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	padding: 10px;
}

.main-p {
	text-align: left;
	padding: 20px;
}

.main-img {
	width: 75%;
	margin-top: 5px;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
	display: flex;
	justify-content: center;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
	background: #000000;
	margin: 5px;
	padding: 10px;
	max-width: 20%;
}

.section:hover {
	background: #141414;
	margin: 0px;
	padding: 10px;
	border: 5px solid #ffffff;
	transition: background 0.5s border 2s;
	cursor: pointer;
}

.section-information {
	padding: 20px;
}

.section-image {
	padding: 0;
	margin-top: 5%;
	border: 0;
	width: 75%;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	background: #000000;
	width: 100%;
	height: 80px;
	cursor: pointer;
}

.div-main {
	width: 80%;
	margin: 0 auto;
}